%ul
  %li
    = link_to 'About the society', '/about.html', title: 'Find out more about the Oregon Ki Society'
    %ul
      %li= link_to 'About the society', '/about.html', title: 'Find out more about the Oregon Ki Society'
      %li= link_to 'Instructors', '/instructors.html', title: 'Who leads the OKS?'
      %li= link_to 'Fees', '/fees.html', title: 'Training costs'
      %li= link_to 'Events', '/events.php', title: 'Upcoming events'
      %li= link_to 'Books', '/books.html', title: 'Books about Ki and Aikido'
      %li= link_to 'Links', '/links.html', title: 'Other Ki- and Aikido-related sites'
  %li
    = link_to 'Ki and Ki development', '/ki/index.html', title: 'Learn about Ki training'
    %ul
      %li= link_to 'Ki training', '/ki/index.html', title: 'Find out about Ki training'
      %li= link_to 'What is Ki?', '/ki/what_is_ki.html', title: 'What is Ki?'
      %li= link_to 'Getting started', '/ki/getting_started.html', title: 'How to get started with Ki training'
  %li
    = link_to 'Aikido', '/aikido/index.html', title: 'What is Aikido?'
    %ul
      %li= link_to 'Aikido training', '/aikido/index.html', title: 'Find out about Aikido training'
      %li= link_to 'Getting started', '/aikido/getting_started.html'
  %li
    = link_to 'Kiatsu&reg;', '/kiatsu/index.html', title: 'What is Kiatsu&reg;'
    %ul
      %li= link_to 'Kiatsu: pressing with Ki', '/kiatsu/index.html'
      %li= link_to 'Getting started', '/kiatsu/getting_started.html'
      %li= link_to 'Personal Kiatsu School', '/kiatsu/school.html', title: 'About the Personal Kiatsu School'
  %li
    = link_to 'Younger practitioners', '/kids/index.html', title: 'Children\'s Aikido program'
    %ul
      %li= link_to 'Children\'s Aikido program', '/kids/index.html', title: 'Aikido for the under-12 set'
      %li= link_to 'Getting started', '/kids/getting_started.html', title: 'Getting started in the children\'s program'
      %li= link_to 'Dojo etiquette', '/kids/dojo_etiquette.html', title: 'Basic guidelines and etiquette for the dojo and training'
  %li
    = link_to 'Locations and schedules', '/locations/index.html', title: 'Our dojo locations, schedules and instructors'
    %ul
      %li= link_to 'Locations list', '/locations/index.html', title: 'Our dojo locations, schedules and instructors'
      %li= link_to 'Headquarters: Tigard', '/locations/tigard.php', title: 'OKS headquarters in SW Portland'
      %li= link_to 'Personal Kiatsu School', '/locations/kiatsu.php', title: 'Personal Kiatsu School'
      %li= link_to 'SE Portland', '/locations/se_portland.php', title: 'Ki Aikido dojo in SE Portland'
      %li= link_to 'Hillsboro', '/locations/hillsboro.php', title: 'Ki Aikido dojo in Hillsboro'
      %li= link_to 'Reed College, Portland', '/locations/reed_college.php', title: 'Ki Aikido dojo at Reed College in SE Portland'
      %li= link_to 'Salem', '/locations/salem.php', title: 'Ki Aikido dojo in Salem'
      %li= link_to 'Corvallis', '/locations/corvallis.php', title: 'Ki Aikido dojo in Corvallis'
      %li= link_to 'Eugene', '/locations/eugene.php', title: 'Ki Aikido dojo in Eugene'
      %li= link_to 'Bend', '/locations/bend.php', title: 'Ki Aikido dojo in Bend'
      %li= link_to 'Honolulu Ki Society, Hawaii', 'http://www.honoluluki.org/', title: 'Ki Aikido dojo in Honolulu, Hawaii'
      %li= link_to 'Orange County Ki Society, California', 'http://orangecountyki.org/', title: 'Ki Aikido dojo in Laguna Niguel, California'
      %li= link_to 'Vancouver Ki Society, Canada', 'http://www.vks.ca/', title: 'Ki Aikido dojo in Vancouver, British Columbia'
      %li= link_to 'Calgary Ki Society, Canada', 'http://www.calgarykisociety.com/', title: 'Ki Aikido dojo in Calgary, Alberta'
      %li= link_to 'UK Ki Federation, United Kingdom', 'http://www.kisociety.org.uk/', title: 'Ki Aikido dojos in Brighton, Loughborough, Bangor, Southampton and Romsey'
  %li
    = link_to 'Getting started', '/getting_started.html', title: 'Find out how to start your training'
    %ul
      %li= link_to 'Getting started with the OKS', '/getting_started.html', title: 'Find out how to start your training'
      %li= link_to 'Ki training', '/ki/getting_started.html', title: 'How to get started with Ki training'
      %li= link_to 'Aikido', '/aikido/getting_started.html', title: 'How to get started with Aikido training'
      %li= link_to 'Children\'s program', '/kids/getting_started.html', title: 'How to get started in the Children\'s program'
      %li= link_to 'Kiatsu&reg;', '/kiatsu/getting_started.html', title: 'How to get started with Kiatsu training'
      %li= link_to 'Fees and monthly dues', '/fees.html', title: 'Find out how much training costs'
  %li
    = link_to 'Photos', '/photos/index.html', title: 'Photo galleries'
    %ul
      %li= link_to 'Gallery list', '/photos/index.html', title: 'Photo galleries'
      %li= link_to 'U.K. trip, July 2007', '/photos/uk_2007/index.html', title: 'Tabata sensei trip to the U.K., July 2007'
      %li= link_to 'Fall camp, November 2007', '/photos/fall_camp_2007/index.html', title: 'Northwest Ki Federation Fall Camp, November 2007'
      %li= link_to 'Corvallis groundbreaking, December 2007', '/photos/corvallis_groundbreaking_2007/index.html', title: 'Groundbreaking for the new Corvallis dojo, December 2007'
      %li= link_to 'Shinsakai, March 2008', '/photos/shinsakai_2008/index.html', title: 'Yearly Shinsakai tournament, March 2008'
      %li= link_to 'Corvallis dojo construction, Fall 2008', '/photos/corvallis_construction_2008/index.html', title: 'Construction of the new Corvallis dojo, Fall 2008'
      %li= link_to 'U.K. trip, August 2008', '/photos/uk_2008/index.html', title: 'Tabata sensei trip to the U.K., August 2008'
      %li= link_to 'Fall camp, November 2008', '/photos/fall_camp_2008/index.html', title: 'Northwest Ki Federation Fall Camp, November 2008'
      %li= link_to 'Corvallis dojo grand opening, June 2009', '/photos/corvallis_grand_opening_2009/index.html', title: 'Corvallis dojo grand opening, June 2009'
  %li
    = link_to 'Contact OKS', '/contact.php', title: 'Have any questions?'
