---
title: Eugene dojo
meta_title: Eugene dojo
meta_description: Oregon Ki Society dojo in Eugene (on west 7th Ave.) that offers Ki training, Aikido, Kiatsu&reg; and children's classes.
---

.image
  = image_tag 'eugene_dojo.jpg', alt: 'Photo of Eugene dojo'
  %address
    <a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=1071+West+7th,+Eugene,+97403&amp;sll=44.564238,-123.259755&amp;sspn=0.014325,0.014141&amp;ie=UTF8&amp;z=16&amp;iwloc=addr&amp;om=1" title="Map of the Eugene dojo">1071 West 7th Ave.,<br />Eugene, Oregon 97402</a>
  %p (541) 683-5089
  %p= link_to('Send us an email', '/contact.php?dojo=Eugene')

%h2 Course schedule

= dojo_schedule(:eugene)

= php_include('events.php')

<?php if (isWinter()) { ?>
%p Is it snowing?  We close if the 4J school district closes.  Closures are listed on <a href="http://www.valleyinfo.net/" rel="nofollow" title="Emergency alerts for the Willamette Valley">ValleyInfo</a> or the <a href="http://www.4j.lane.edu/" title="4J School District" rel="nofollow">4J school district</a> pages.
<?php }; ?>

%h2 Instructors

%ul
  %li Terry Copperman, Director of the Personal Kiatsu School, Kiatsu Associate Lecturer, Ki Lecturer, OKS Senior Advisor, Joden, Shinshin Toitsu Aikido 5th Dan, teaching for over 25 years
  %li Diana Robson, Associate Lecturer, Chuden, Shinshin Toitsu Aikido 4th Dan, teaching for over 15 years
  %li Howard Galvin, Assistant Lecturer, Chuden, Shinshin Toitsu Aikido 3rd Dan, teaching for over 15 years
  %li Teri Simpson, Assistant Lecturer, Shoden, Shinshin Toitsu Aikido 2nd Dan, teaching for over 10 years
  %li Dennis Lewandowski, Assistant Lecturer, Kiatsu Assistant Lecturer, Shoden, Shinshin Toitsu Aikido 1st Dan, teaching for over 5 years
  %li Steve Frankel, Assistant Lecturer, Jokyu, Shinshin Toitsu Aikido 1st Dan, teaching for over 5 years

.image.centerpiece
  = image_tag('eugene_instructors.jpg', alt: 'Corvallis dojo instructors')
  %p From left to right: Teri Simpson sensei, Howard Galvin sensei, Terry Copperman sensei, Diana Robson sensei, Dennis Lewandowski sensei, Steve Frankel sensei

%h2 Upcoming events
<?php print dojo_events("Eugene"); ?>

- content_for :secondary_content do
  %h2 About the training
  %p The Eugene dojo offers <a href="/ki/index.html" title="More on Ki training">Ki training</a>, <a href="/aikido/index.html" title="More information about Aikido">Aikido</a>, <a href="/kiatsu/index.html" title="Find out about Kiatsu&reg;">Kiatsu&reg; training</a> and a <a href="/kids/index.html" title="Aikido and Ki training for kids">children's program</a>.
