---
title: Tigard (SW Portland) dojo
meta_title: Tigard (SW Portland) dojo
meta_description: Oregon Ki Society dojo in SW Portland (Tigard) that offers Ki training, Aikido, Kiatsu&reg; and children's classes.
---

.image
  = image_tag 'tigard_dojo.jpg', alt: 'Photo of Takushinkan dojo by Brent Miller.', title: 'Photo of Takushinkan dojo by Brent Miller.'
  %address
    <a href="http://g.co/maps/srpnp" title="Map of the Takushinkan dojo. The main entrance is on 68th, not 67th as shown by Google.">12700 SW 68th Ave.,<br />Tigard, Oregon 97223</a>
  %p (503) 684-0185
  %p= link_to('Send us an email', '/contact.php?dojo=Tigard')
  %p Send mail to P.O. Box 2143<br />Lake Oswego, OR 97035

%h2 Course schedule

= dojo_schedule(:tigard)

= php_include('events.php')

<?php if (isWinter()) { ?>
%p Is it snowing?  We close if PCC closes.  Closures are listed on <a href="http://www.pcc.edu/" rel="nofollow" title="Portland Community College">the PCC homepage</a>. You can also subscribe to <a href="http://flashalert.net/news.html?id=40" rel="nofollow" title="Receive closure notices in your e-mail">get e-mail closure alerts</a>.
<?php }; ?>

.image.centerpiece
  = image_tag 'tigard_sign.jpg', alt: 'Takushinkan (frontier) dojo sign.  Calligraphy by Tohei sensei.', title: 'Takushinkan (frontier) dojo sign.  Calligraphy by Tohei sensei.', style: 'border: none'
  %p The Tigard dojo was named the Takushinkan dojo, meaning &#8220;Frontier dojo&#8221;, by <a href="/koichi_tohei_sensei.html" title="Read a brief bio of Tohei sensei">Tohei sensei</a>, whose calligraphy adorns this sign.

%h2 Instructors

%ul
  %li Bob Hart, Ki Lecturer, Kiatsu Associate Lecturer, OKS President, Okuden, Aikido 7th Dan, teaching for over 30 years.
  %li Karen Andress, Associate Lecturer, Chuden, Aikido 5th Dan, teaching for over 20 years.
  %li Steve Andress, Associate Lecturer, Shoden, Aikido 5th Dan, teaching for over 20 years.
  %li Ken Week, Associate Lecturer, Chuden, Aikido 4th Dan, teaching for over 20 years.
  %li Shirley McCartney, Associate Lecturer, Chuden, Aikido 4th Dan, teaching for over 15 years.
  %li Scott MacHaffie, Assistant Lecturer, Kiatsu Assistant Lecturer, Chuden, Aikido 3rd Dan, teaching for over 10 years.
  %li Mark Hutchinson, Assistant Lecturer, Chuden, Aikido 3rd Dan, teaching for over 10 years.
  %li Eugene Rebollido, Assistant Lecturer, Shoden, Aikido 3rd Dan, teaching for over 10 years.
  %li Scott Hutchinson, Assistant Lecturer, Shoden, Aikido 2nd Dan, teaching for over 5 years.
  %li John Wade, Jokyu, Aikido 1st Dan, teaching for over 5 years.
  %li Shri Godbole, Jokyu, Aikido 1st Dan, teaching for over 5 years.

.image.centerpiece
  = image_tag 'tigard_instructors.jpg', alt: 'Takushinkan dojo instructors', title: 'Takushinkan dojo instructors'
  %p From left to right, front row: Shri Godbole sensei, Eugene Rebollido sensei, Bob Hart sensei, Brenda Tam sensei
  %p From left to right, second row: Scott Hutchinson sensei, Steve Chase sensei, Steve Andress sensei, Ken Week sensei

%h2 Upcoming events
<?php print dojo_events("SW"); ?>

- content_for :secondary_content do
  %h2 Nearby dojos
  %p There are several other dojos in the Portland metropolitan area: <a href="se_portland.php" title="Intersection of SE Powell and Milwaukie">SE Portland</a>, <a href="hillsboro.php" title="County fairgrounds">Hillsboro</a> and <a href="reed_college.php" title="SE 33rd and Woodstock">Reed College</a>.
